.main-section {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.product-list-container {
	width: 100%;
}
.products-container-1 {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
.product-card-container-1 {
	width: 16%;
}
.pro-name {
	font-size: 1rem;
}

.background-img-container {
	background-image:url("../../assets/BackgroundImg/allenSolly.jpg");
	width: 100%;
	height: 40vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.h4 {
	margin: 3rem 0 0 3rem;
}
 .background-img-container.img21 {
    background-image: url("../../assets/ethnic/img21.jpg");
}
.background-img-container.img22 {
    background-image: url("../../assets/ethnic/img22.jpg");
}
.background-img-container.img23 {
    background-image: url("../../assets/ethnic/img23.jpeg");
}
.background-img-container.img24 {
    background-image: url("../../assets/ethnic/img24.jpg");
}
.background-img-container.img25 {
    background-image: url("../../assets/ethnic/img25.jpg");
}
.background-img-container.img26 {
    background-image: url("../../assets/ethnic/img26.webp");
}
.background-img-container.img27 {
    background-image: url("../../assets/ethnic/img27.jpg");
}
.background-img-container.img28 {
    background-image: url("../../assets/ethnic/img28.jpg");
}
.background-img-container.img29 {
    background-image: url("../../assets/ethnic/img29.jpg");
}
.background-img-container.img30 {
    background-image: url("../../assets/ethnic/img30.jpg");
}
.background-img-container.img31 {
    background-image: url("../../assets/ethnic/img31.jpg");
}
.background-img-container.img32 {
    background-image: url("../../assets/ethnic/img32.jpg");
}
.background-img-container.img33 {
    background-image: url("../../assets/ethnic/img33.jpg");
}
.background-img-container.img34 {
    background-image: url("../../assets/ethnic/img34.jpg");
}
.background-img-container.img35 {
    background-image: url("../../assets/ethnic/img35.jpg");
}
.background-img-container.img36 {
    background-image: url("../../assets/ethnic/img36.jpg");
}
.background-img-container.img37 {
    background-image: url("../../assets/ethnic/img37.jpg");
}
.background-img-container.img38 {
    background-image: url("../../assets/ethnic/img38.jpg");
}
.background-img-container.img39 {
    background-image: url("../../assets/ethnic/img39.jpg");
}
.background-img-container.img40 {
    background-image: url("../../assets/ethnic/img40.webp");
} 

.ratings-container div {
	font-size: .6rem;
	margin: 0 .2rem;
}
.ratings-container .rate {
	font-size: .6rem;
	margin: 0 .2rem;
}
.star{
	color: green;
	position: relative;
	top: 0.1rem;
	font-size: .7rem;
	margin: 0 .1rem;
}
.ratings-container .views {
	font-size: .6rem;
	margin: 0 .2rem;

}
.product-card-container h6 {
	font-size: 1rem;
	margin: .4rem 0;
}

.product-card-container p {
	font-size: 0.7rem;
	font-weight: 500;
	margin: .4rem 0;
}

.price-container strong {
	font-size: .6rem;
	margin: 0px 4px;

}

.price-container .discounted-price {
	font-size: .6rem;
	margin: 0px 4px;
	color: lighgray;
	color: gray;
	text-decoration: line-through;
}

.price-container .offer {
	font-size: .6rem;
	color: orange;
	margin: 0px 4px;

}
.line {
	height: 1px;
	width: 100%;
	margin: 2rem 0;
} 
.line hr {
	color: rgb(255, 251, 251);
}

@media screen and (max-width:1025px) {
	.product-card-container-1 {
		width: 20%;
	}
	.background-img-container {
		width: 100%;
		height: 23vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: 1rem;
	}
	.product-card-container-1 p {
		font-size: .6rem;
	}
	.pro-name {
		font-size: .8rem;
		margin-bottom: .2rem;
	}
}

@media screen and (max-width:541px) {
	.product-list-container {
		display: none;
	}
	.right-section {
		width: 95%;
		margin-left: 1rem;
	}
	.products-pair {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.products-container-one {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}
	.background-img-container {
		width: 100%;
		height: 23vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: 1rem;
	}
	.ratings-container {
		display: flex;
		background: rgba(245, 245, 245, 0.849);
		padding: .3rem;
	}
	.product-card-container h6 {
		font-size: .8rem;
	}
	.product-card-container p {
		font-size: 0.6rem;
	}
	.price-container strong {
		font-size: .5rem;
	}
	.price-container .discounted-price {
		font-size: .5rem;
	}
	.price-container .offer {
		font-size: .5rem;
	}
	.h4 {
		margin-left: 2.8rem;
		font-size: .7rem;
		margin-bottom: .8rem;
	}
	.products-pair {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}
	.background-container {
		width: 100%;
		height: 22vh;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin-top: 0rem;
		position: relative;
	}
	}
	
