.page-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 2rem auto;
	width: 100%;
}
.left-part {
    margin-left: 3rem;
} 
.pages-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.left-part p {
    color: rgb(171, 163, 163);
}
.pages-count {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.pages-count li {
    margin-right: .5rem;
    padding: .6rem;
    border-radius: 6px;
    cursor: pointer;
    list-style: none;
}
.first-page {
    margin-left: .5rem;
}
.pages-count li:hover {
    border-color: black;
    cursor: pointer;
}
.first-page {
    background-color: black;
    color: white;
}
.next {
    border: 1px solid lightgray;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    background-color: white;
    font-weight: 600;
    margin-left: 3rem;
}
.right-icon {
    position: relative;
    top: .1rem;
}
.next:hover {
    border-color: black;
    cursor: pointer;
}


@media (max-width:811px) {
    .page-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .left-part {
        width: 20%;
    }
   .center-part {
        width: 80%;
   }
   .pages-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: now;
}
    .pages-count li {
        margin-right: 0;
        padding: .6rem;
        border-radius: 6px;
        cursor: pointer;
    }
    .first-page {
        margin-left: 0;
    }
    .next {
        border: 1px solid lightgray;
        padding: .6rem 1rem;
        border-radius: 6px;
        background-color: white;
        font-weight: 600;
        margin-left: 3rem;
    }
}


@media (max-width:429px) and (max-height:927px) {
    .para {
        margin: 1.3rem .4rem;
        font-size: .6rem;
    }
    .page-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 2rem;
        width: 100%;
    }
    .pages-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .left-part p {
        color: rgb(171, 163, 163);
        font-size: .5rem;
        width: 30vw;
    }
    .center-part {
        width: 100%;
        margin-top: .6rem;
    }
    .pages {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-right: 0rem;
        width: 100%;
    }
    .pages-count {
        display: flex;
        align-self: flex-start;
    }
    .pages-count li {
        border: 1px solid lightgray;
        padding: .3rem;
        margin-right: .3rem;
        border-radius: 6px;
        cursor: pointer;
        font-size: .5rem;
    }
    .next {
        border: 1px solid lightgray;
        padding: .2rem .3rem;
        border-radius: 6px;
        background-color: white;
        font-weight: 600;
        font-size: .5rem;
        width: 20%;
        margin: 0;
    }
}