.main-container {
    display: flex;
    width: 100%;
}

.container {
    width: 100%;
}

.heading {
    margin: auto;
    text-align: center;
    color: white;
    border-radius: 50px;
    margin-bottom: 1rem;
    font-size: 2rem;
    width: 23vw;
    background: rgb(83, 93, 227);
    background: linear-gradient(90deg, rgba(83, 93, 227, 1) 22%, rgba(143, 83, 227, 1) 53%, rgba(255, 0, 87, 1) 95%);
}

.background-img {
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logoContainer {
    border: 1px solid lightgray;
    height: 5vh;
    width: 10vw;
    background-color: whitesmoke;
    border-radius: 3.4px;
    position: relative;
    top: 4rem;
    margin-left: 4px;
}

.logoContainer img {
    width: 5vw;
    height: 3vh;
    position: absolute;
    left: 40px;
    top: 4px;
    object-fit: contain;
}

.peter {
    object-fit: cover;
}

.denim {
    object-fit: cover;
    width: 4vw;
}

.dash {
    position: absolute;
    top: 15rem;
    width: 30px;
    height: 2px;
    background-color: silver;
}

.details {
    position: absolute;
    top: 15.3rem;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-left: 4px;
    text-align: center;
}

.price {
    position: absolute;
    top: 16.7rem;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: .6px;
    margin-left: 4px;
}

@media screen and (max-width:811px) {
    .heading {
        width: 47vw;
    }

    .main-container {
        display: flex;
        flex-wrap: wrap;
    }

    .container {
        width: 33.33%;
    }

    .logoContainer {
        height: 3vh;
        width: 22vw;
        position: relative;
        top: 6rem;
    }

    .logoContainer img {
        width: 6vw;
        height: 2.6vh;
        position: absolute;
        left: 69px;
        top: 3px;
        object-fit: contain;
    }

    .dash {
        position: absolute;
        top: 22rem;
        width: 55px;
    }

    .details {
        position: absolute;
        top: 23.4rem;
        color: white;
        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: 1px;
        margin-left: 4px;
        text-align: center;
    }

    .price {
        position: absolute;
        top: 25rem;
        color: white;
        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: .6px;
        margin-left: 4px;
    }
}

@media (max-width:429px) {
    .heading {
        font-size: 1rem;
        width: 50vw;
        padding: 3px 0px;
    }

    .main-container {
        display: flex;
        flex-wrap: wrap;
    }

    .container {
        width: 50%;
    }

    .background-img {
        background-size: fill;
        background-repeat: no-repeat;
        width: 100%;
        height: 26vh;

    }

    .logoContainer {
        height: 3vh;
        width: 27vw;
        position: relative;
        top: 2rem;
        margin-left: 4px;
    }

    .logoContainer img {
        width: 12vw;
        height: 2vh;
        position: absolute;
        left: 33px;
        top: 3px;
        object-fit: fill;
    }

    .dash {
        position: absolute;
        top: 10.1rem;
    }

    .details {
        position: absolute;
        top: 10.8rem;
        font-weight: 600;
        font-size: 0.7rem;
        letter-spacing: 0px;
    }

    .price {
        position: absolute;
        top: 11.9rem;
        font-weight: 600;
        font-size: .7rem;
        letter-spacing: 0px;
    }

}

@media (max-width:376px) and (max-height:668px){
    .background-img {
        background-size: cover;
        width: 100%;
        height: 26vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .heading {
        font-size: 1rem;
        width: 56vw;
    }

    .logoContainer {
        position: relative;
        top: 1.4rem;
    }
    .logoContainer img {
        width: 6vw;
        height: 2.6vh;
        position: absolute;
        left: 1.8rem;
        top: .1rem;
        object-fit: contain;
    }
    .dash {
        position: absolute;
        top: 8rem;
        width: 36px;
    }
    .details {
        position: absolute;
        top: 8.9rem;
        font-size: .6rem;
    }
    .price {
        top: 9.8rem;
        font-size: .6rem;
    }
}